# === DATASETS & IMAGES ===
datasets/
data/images/
data/labels/

# === MODEL WEIGHTS ===
models/weights/
*.pt
*.pth
*.onnx

# === OUTPUTS ===
outputs/
runs/

# === PYTHON ===
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
*.log

# === OS ===
.DS_Store
Thumbs.db

calibration.json
